body {
    font-family: Helvetica, Sans-serif;
}

header{
    background-color: #1f2937;
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 100px;
}

.Logo {
    
}

.Header-List {
    display: flex;
    list-style-type: none;
}

.Header-List > ul{
    list-style-type: none;
    display: flex;
    justify-items: flex-end;
    gap: 1em;
}


.HeadLink {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.main1 {
    background-color: #1f2937;
    flex: 1;
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
    align-items: center;
}

.main1 > div > *{
    margin-bottom: 12px;
}

.mainhead {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
}

.mainsubtext {
    font-size: 18px;
    color: #e5e7eb;
}

.mainbutton {
    background-color: #3882f6;
    border: none;
    font-size: 20px;
    padding: 10px 35px;
    font-weight: 800;
    border-radius: 8px;
}

.antpic {
    width: 700px;
    margin-left: -700px;
}

.main2 {
    display:flex;
    flex-direction: column;
}

.main2head {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.main2list {
    display: flex;
    padding: 80px 0px;
}

.quotecontainer {
    background-color: #e5e7eb;
    padding: 80px 0px;
}

.quote {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
}

.quotetext {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}



.author {
    align-self: flex-end;
    margin-top: 1em;
    font-weight: bold;
    font-size: 24px;
}

.main4 {
    background-color: #3882f6;
    display: flex;
    flex-direction: column;
    padding: 4em;
    margin: 150px auto 150px auto;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}

.main4container {
    display: flex;    
}

.main4head{
    font-size: 28px;
    font-weight: 700;
}

.main4text {
    font-size: 20px;

}

.main4button {
    background-color: transparent;
    font-size: 20px;
    padding: 10px 35px;
    font-weight: 800;
    border-radius: 8px;
    border-color: #ffffff;
    width: 200px;
}


footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}